/recentf
/elpa
/auto-save-list
/anaconda-mode
custom.el
projectile-bookmarks.eld
projectile.cache
ac-comphist.dat
.cache/
.lsp-session-v1
eclipse.jdt.ls/
elisp_tutorial.el
eshell/
/.dap-breakpoints
/tramp
/workspace
transient/
